/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.hide {
  display: none;
}

.game {
  height: 100vh;
}

.car, .enemy  {
  width: 50px;
  height: 100px;
  background: transparent url('./image/player.png') center / cover no-repeat;
  position: absolute;
}

.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background: #222;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 10px;
  height: 50px;
  background: #fff;
  left: 145px;
}

.start {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 2rem 0;
	text-align: center;
	z-index: 7;
	color: white;
	font-size: 1.5rem;
	background: black;
	font-family: sans-serif;
}

.score {
	position: absolute;
	left: 0;
	width: 100%;
	background: black;
	padding: 1rem 0;
	z-index: 5;
	font-size: 1.5rem;
	color: skyblue;
	text-align: center;
	font-family: sans-serif;
}
